@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,400;1,200&family=Playfair+Display:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Playfair Display', serif;
}
.container{
    width: 90%;
    max-width: 1000px;
    height: 90vh;
    background-color: #fff;
    margin: auto;
}
.container header{
    background-color: #161D32;
    color: #fff;
    padding: 50px;
    text-align: center;
}
.container nav{
    background-color: #22577E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.container nav a{
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    flex-grow: 1;
}
.container nav a:hover{
    background-color: #5993BC;
}
.container .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .main aside{
    background-color: #5584AC;
    color: #000;
    padding: 20px;
    flex: 30px;
}
.container .main section{
    background-color: #95D1CC;
    padding: 20px;
    flex: 70%;
}
footer{
    background-color: #161D32;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container .main aside h2{
    width: 100%;
    margin-bottom: 20px;
}
.container .main aside ul{
    width: 100%;
}
.container .main aside ul{
    list-style: none;
    padding: 5px;
    border: 1px solid#fff;
    border-radius: 10px;
    margin: 5px;
}
.container .main aside ul li{
    list-style: none;
    padding: 5px;
    border: 1px solid#fff;
    border-radius: 10px;
    margin: 5px;
}
.container .main aside ul li a{
    color: #f0f0f0;
    text-decoration: none;
    padding-left: 5px;


}
.container .main aside ul li:hover{
    background-color: #22577E;
    border:1px solid #22577E;
    border-radius: 10px;
}
@media screen and (max-whidth:800px) {
  .container nav{
    flex-direction: column;
  }  
  .container .main{
    flex-direction: column;
  }
}
