@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #71aec4 ;
}
body header{
    background-color: #243A73;
    padding: 30px; 
}
body header h1{
    color: #70929c ;
}
body header nav{
    background-color: #5D6D7E ;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
body header nav a{
    background-color: rgb(187, 187, 68);
    color: #4A235A;
    text-decoration: none;
    padding: 0px 12px 0px 12 px;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #717a20;
}
body header nav a:hover{
    background-color: #4A235A;
}
.js{
    padding-left: 30px;
}
 

  