@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,400;1,200&display=swap');
*{
     margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: rgb(114, 141, 168);
    color: aliceblue;
    text-align: center;
}
h1{
    background-color: #17dfad;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid;
    color: rgb(0, 0, 0);
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 200px;
}